<div class="container d-flex flex-column align-items-center">
  <h2>Add new food to inventory:</h2>
  <%= form_with url: inventory_inventory_foods_path do |form| %>

    <%= select("food", "food_id", Food.all.collect { |p| [ p.name, p.id ] }, { prompt: 'Select Food' }) %>

    <div class="form-group mb-3">
      <%= form.label :quantity %> <br>
      <%= form.number_field :quantity, class: "form-control" , required: true %>
    </div>

    <%= form.submit "Create", data: { turbo: false }, class: "btn btn-primary" %>
  <% end %>
</div>
