<nav class="navbar d-flex flex-row justify-content-between navbar-expand-lg navbar-dark bg-dark px-5">
  <%= link_to "Recipe App", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Foods", foods_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Inventories", inventories_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0m px-5">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>